//
// START PAGE
// --------------------------------------------------
.start-page
	.btn
		padding 6px 28px
		font-family helvLigth
		text-shadow 0px 1px 2px rgba(0, 0, 0, 0.75)
		&.btn-danger
			gradient-horizontal(#bc1d22, #dc2329, 0%, 100%)
			border 1px solid #89302c
			box-shadow 0px 0px 5px 0px rgba(122, 37, 33, 0.37)
			&:hover
				gradient-horizontal(#bb6315, #f89724, 0%, 100%)
				border 1px solid #c6712c
