//
// START PAGE
// --------------------------------------------------
.start-page
	.jumbotron
		padding 40px 0
		margin-bottom 0
		background #eee url('../i/start-page/bg/jumbotron-bg.jpg') no-repeat center
		background-size cover
		position relative
		&:before
			befaft(100%, 235px, 25px, 0, 0, auto)
			background url('../i/start-page/jumbotron-shadow.png') no-repeat center
			background-size cover
		h1, p, .btn
			position relative
		h1
			margin 20px 0 25px
			font-size jumbotron-heading-font-size
			color jumbotron-heading-color
		p, .btn
			font-size jumbotron-font-size
		.sub-title
			margin-bottom 35px