//
// START PAGE
// --------------------------------------------------
.start-page
	.navbar-default
		background-color #fff
		border none
		margin-bottom 0
		.navbar-brand
			padding 10px 15px
			height auto
			font-size 20px
			color navbar-brand-color
			> img
				display inline-block
				margin-right 10px
			span
				vertical-align sub
	footer
		.navbar-default
			.navbar-nav
				li
					&.active
						a, a:hover
							background transparent
							color navbar-default-link-active-color
					a
						color navbar-default-link-color
						&:hover
							color navbar-default-link-hover-color