//
// START PAGE
// --------------------------------------------------
.start-page
	.thumbnails
		padding 30px 0
		margin-bottom -20px
	.thumbnail
		background-color thumbnail-bg
		border-radius thumbnail-border-radius
		border none
		box-shadow 0px 0px 5px 0px rgba(87, 95, 119, 0.32)
		.caption
			padding thumbnail-caption-padding
			h4
				margin-bottom 5px
		p
			color thumbnail-caption-color