//
// START PAGE
// --------------------------------------------------
.start-page
	.well
		margin-bottom 0
		background-color greyBg
		border none
		border-radius 0
		box-shadow none
		h3
			margin-bottom 15px
			color linkColor
		blockquote
			padding 0
			margin 0 0 60px
			border none
			font-style italic
			font-size 18px
			line-height 1.3
			footer
				font-style normal
				h4
					margin-bottom 0px
					color fontColor
				&:before
					content ''
		.blockquote-list
			li:last-child
				blockquote
					margin-bottom 30px
		.read-more
			font-size 24px
			text-decoration underline
			color #4778ae
			.caret
				border-top 10px dashed
				border-top 4px solid \9
				border-right 10px solid transparent
				border-left 10px solid transparent