main
	.jumbotron.text-center
		.container
			h1 Hire The Best Applicants, Communicate And Get Insigh
			p.sub-title Gulpfish allows Employers to brand their jobs and create
				br
				| pipelines of candidates for immediate and future opportunities.
			p
				a(href="#")
					button.btn.btn-danger Join as Employer
	.thumbnails.text-center
		.container
			.row
				include el/thumbnail
				include el/thumbnail
				include el/thumbnail
				include el/thumbnail
	.well
		.container
			.row
				.col-sm-10.col-sm-offset-1
					h3 Testimonials From Our Employer Partners
					ul.list-unstyled.blockquote-list
						include el/blockquote
						include el/blockquote
						include el/blockquote
					p.text-center
						a(href="#").read-more
							i.caret
							span  Read More Testimonials