footer
	.navbar.navbar-default
		.container
			.row
				.col-sm-10.col-sm-offset-1
					.nav.navbar-nav
						li.active
							a(href="#") Back to Gulpfish
						li
							a(href="#") About Gulpfish
						li
							a(href="#") Blog
						li
							a(href="#") Jobison
						li
							a(href="#") Privacy & Terms
						li
							a(href="#") Sitemap