@import 'nib'
@import '../../../bower_components/bootstrap-stylus/bootstrap/index.styl'



// Core variables and mixins
@import 'variables.styl'
@import 'stylesheet.styl'
@import 'mixins.styl'


body
	font-family 'Cuprum', sans-serif
	color fontColor
a
	color linkColor
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-weight 600
	color headColor





// Components
@import 'modules/buttons.styl'
@import 'modules/navbar.styl'
@import 'modules/jumbotron.styl'
@import 'modules/thumbnail.styl'
@import 'modules/well.styl'

/* ==|== custom styles =============================================== */

@import '_header.styl'
@import '_content.styl'
@import '_footer.styl'

@import 'media.styl'