@media screen and (min-width: 1200px)
	// START_PAGE
	.start-page
		.jumbotron
			padding 70px 0 145px
			&:before
				top 0
				height 323px
			h1
				font-size 36px
				margin 0 0 8px
			p, .btn
				font-size 24px
			.sub-title
				margin-bottom 20px
				line-height 1.3
		.thumbnails
			margin-top -65px
			padding 0 0 40px
		.thumbnail
			h4
				font-size 24px
		.well
			h3
				margin-bottom 40px
				font-size 36px
			blockquote
				margin 0 0 70px
				font-size 30px
				footer
					h3
						font-size 24px
					p
						font-size 18px
			.blockquote-list
				li:last-child
					blockquote
						margin-bottom 40px
		footer
			.navbar-nav
				li
					&:first-child
						a
							padding-left 0
					a
						font-size 18px
@media screen and (min-width: 768px) and (max-width: 1199px)
	// START_PAGE
	.start-page
		.jumbotron
			padding 70px 0
			h1
				font-size 30px
		.thumbnails
			margin-top -20px
			padding 0 0 40px
		.thumbnail
			p
				font-size 12px
		.well
			h3
				font-size 30px
				margin-bottom 45px
			blockquote
				font-size 24px
				margin 0 0 85px
				footer
					h4
						font-size 18px
					p
						font-size 14px
			.blockquote-list
				li:last-child
					blockquote
						margin-bottom 40px
		footer
			.navbar-nav
				li
					&:first-child
						a
							padding-left 0
					a
						font-size 18px
@media (max-width: 767px)
	.thumbnails
		padding 30px 0
	.well
		padding 19px 0
	footer
		.navbar-default
			.navbar-nav
				li
					display inline-block
					a
						padding 10px 8px

