doctype html
html
	head
		include partials/head
		<!-- @import partials/_dev/dev.jade -->
	body
		.start-page
			include partials/startPage/header
			include partials/startPage/content
			include partials/startPage/footer